<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Jeu du Pendu</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Jeu du Pendu</h1>

    <p class="word-display">{{ .WordDisplay }}</p>
    <p></p>
    <p>Nombre de tentatives restantes : {{ .AttemptsLeft }}</p>

    {{ if .GuessedLetters }}
        <p class="guessed-letters">Lettres incorrectes: {{ .GuessedLetters }}</p>
    {{ end }}
    
    {{ if .ErrorMessage }}
        <p class="error">{{ .ErrorMessage }}</p>
    {{ end }}

    {{ if .GameOver }}
        <p></p>
        <form action="/restart" method="post">
            <button type="submit">Relancer le jeu</button>
        </form>
    {{ else }}
        <form action="/hangman" method="post">
            <input type="text" name="letter" maxlength="1" required placeholder="Entrez une lettre" autofocus>
            <button type="submit">Vérifier</button>
        </form>
        <form action="/restart" method="post">
            <button type="submit" class="reset-button">Réinitialiser</button>
        </form>
    {{ end }}
</body>
</html>
